<p id="notice"><%= notice %></p>

<h2>Users activity:</h2><br>
 
<% @users_lists.order(updated_at: :desc).each do |list| %>
  <ul>
    <li>
      <%= User.find_by(id: list.user_id).first_name %> 
      a adaugat in lista 
      <% if list.status == true %>
        "Vazute"
      <% else %>
        "Musai de vazut"
      <% end %>
      filmul "<%= Movie.find(list.movie_id).title %>"<br>
      at: <%= list.created_at %><hr>
    </li>
  </ul>
<% end %>
   

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Movie</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_lists.each do |user_list| %>
      <tr>
        <td><%= user_list.status %></td>
        <td><%= user_list.movie %></td>
        <td><%= user_list.user %></td>
        <td><%= link_to 'Show', user_list %></td>
        <td><%= link_to 'Edit', edit_user_list_path(user_list) %></td>
        <td><%= link_to 'Destroy', user_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>





