<p id="notice"><%= notice %></p>

<h1>Listing User Lists</h1>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Movie</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_lists.each do |user_list| %>
      <tr>
        <td><%= user_list.status %></td>
        <td><%= user_list.movie %></td>
        <td><%= user_list.user %></td>
        <td><%= link_to 'Show', user_list %></td>
        <td><%= link_to 'Edit', edit_user_list_path(user_list) %></td>
        <td><%= link_to 'Destroy', user_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User list', new_user_list_path %>
<br>
<h1>Vazute </h1>

<% @vazute.each do |movie| %>
  <%= movie.title %><br>
  <%= button_to "delete", {:controller => :movies,
      :action => 'destroy', :id => movie.id }, :method => :delete, data: { confirm: "Are you sure?" } %>
  <%= form_tag change_status_path, :method => "put"  do %>
          <%= hidden_field_tag :movie_id, movie.id %>
          <%= hidden_field_tag :user_id, current_user.id  %>
          <%= submit_tag "Muta in filme de vazut" %>
  <% end %>
<% end %>

<br>

<h1>De vazut</h1>
<% @de_vazut.each do |movie| %>
  <%= movie.title %><br>
  <%= button_to "delete", {:controller => :movies,
      :action => 'destroy', :id => movie.id }, :method => :delete, data: { confirm: "Are you sure?" } %>
  <br>
  <%= form_tag change_status_path, :method => "put"  do %>
          <%= hidden_field_tag :movie_id, movie.id %>
          <%= hidden_field_tag :user_id, current_user.id  %>
          <%= submit_tag "Muta in filme vazute" %>
  <% end %>
<% end %>