<table>
	<tr>
		<td>
			<%=image_tag(movie.poster)%>
		</td>
		<td>
			<%=movie.title%>
			<br>
			<%=movie.genres%>
			<br>
			<%=movie.duration%>
			<br>
			<%=movie.year%>
		</td>
		</tr>
</table>

