<table>
	<tr>
		<td>
			<%= link_to image_tag(movie.poster), movie_path(movie.id)%>
		</td>
		<td>
			<%= movie.title%>
			<br><br>
			<% movie.genres.each do |gen|%>
			<%= gen.category %><br>
			<% end %>
			<br>
			<%= movie.duration%>
			<br>
			<%= movie.year%>
		</td>
			<td>
			<% if user_signed_in? %>


				<% if lists_user(current_user.id).include?(movie.id) %>
					<p> Deja se afla intr-o lista</p>
				<% else %>
					<%= form_tag user_lists_path, :action => "create", :method => "post"  do %>
					<%= hidden_field_tag :movie_id, movie.id %>
					<%= hidden_field_tag :status, true  %>
					<%= hidden_field_tag :user_id, current_user.id  %>
					<%= submit_tag "Musai de vazut" %>
					<% end %>

					<%= form_tag user_lists_path, :action => "create", :method => "post" do %>
					<%= hidden_field_tag :movie_id, movie.id  %>
					<%= hidden_field_tag :status , false  %>
					<%= hidden_field_tag :user_id, current_user.id  %>
					<%= submit_tag "Vazut"  %>
					<% end %>		
				<% end %>
			<% end %>
			</td>
		</tr>
</table>
