
<div class="row">
  <div class="col-md-3">
  	<div class="img-thumbnail">
	  	<% if user_signed_in? %>
	    	<%= link_to image_tag(movie.poster), movie_path(movie.id), :class=> "img-movie" %>
	    <% else %>
	    	<%= link_to image_tag(movie.poster), user_session_path, :class=> "img-movie" %>
	    <% end %>
  	</div>
  </div>
  <div class="col-md-5">
    <h3><%= movie.title%></h3>
    <p> <% movie.genres.each do |gen|%>
					<%= gen.category %> |
				<% end %>
		</p>
		<p><%= movie.duration%></p>
		<p>IMDB rating: <%= movie.imdb_rating%></p>
		<p>
			<i class="glyphicon glyphicon-thumbs-up"></i>
      <%= movie.get_likes.size %>
      <%= link_to "Like", like_movie_path(movie), method: :put %>
      <i class="glyphicon glyphicon-thumbs-down"></i>
      <%= movie.get_dislikes.size %>
      <%= link_to "Dislike", dislike_movie_path(movie), method: :put %>
		</p>
	</div>
	<div class="col-md-4">
		<% if user_signed_in? %>
			<% if lists_user(current_user.id).include?(movie.id) %>
				<h4> Deja se afla intr-o lista</h4>
			<% else %>
				<%= form_tag user_lists_path, :action => "create", :method => "post"  do %>
				  <%= hidden_field_tag :movie_id, movie.id %>
					<%= hidden_field_tag :status, true  %>
					<%= hidden_field_tag :user_id, current_user.id  %>
					<%= submit_tag "Vazut",class:"btn btn-primary" %>
				<% end %>
				<%= form_tag user_lists_path, :action => "create", :method => "post" do  %>
					<%= hidden_field_tag :movie_id, movie.id  %>
					<%= hidden_field_tag :status , false  %>
					<%= hidden_field_tag :user_id, current_user.id  %>
					<%= submit_tag "Musai de vazut",class:"btn btn-primary"  %>
				<% end %>		
			<% end %>
		<% end %>
	</div>  
</div>

#ED9F5D