
<div class="container well" >
	<p class="notice"><%= notice %></p>
	<div class="jumbotron">
		<%= render 'search' %>
	</div>
	<% if params[:movie_title] %>
		<h5>Search result:</h5>
		<%= will_paginate @movies%>
		<div class="row search_result">
			<%= render  @movies %>
		</div>
		<%= will_paginate @movies%>
	<% end %>
</div>

