
<%= render 'search' %>

<h2>Listing movies:</h2>

<% if params[:movie_title] %>
	<%= render @movies %>
<% end %>

<%= user_signed_in? %>
<br>


 <%= UserList.where(user_id: current_user.id, status: true).map {|i| i.movie_id} %>
 <%= UserList.where(user_id: current_user.id, status: false).map {|i| i.movie_id} %>