<div class="row">
  <div class="col-md-3">
    <p id="notice"><%= notice %></p>
      <p>
        <strong>Title:</strong>
        <%= @movie.title%>
      </p>
      <p>
        <%=image_tag @movie.poster%>
      </p>
  </div>
  <div class="col-md-5">
      <p>
        <strong>Genre:</strong>
        <% @movie.genres.each do |g|%>
        <%= g.category %>
        <% end %>
      </p>
      <p>
        <strong>Countries:</strong>
        <%=@movie.countries %>
      </p>
      <p>
        <strong>IMDB rating:</strong>
        <%= @movie.imdb_rating%>
      </p>
      <p>
        <strong>Runtime:</strong>
        <%= @movie.duration%>
      </p>
      <p>
        <strong>Votes:</strong>
        <i class="glyphicon glyphicon-thumbs-up"></i>
        <%= @movie.get_likes.size %>
        <%= link_to "Like", like_movie_path(@movie), method: :put %>
        <i class="glyphicon glyphicon-thumbs-down"></i>
        <%= @movie.get_dislikes.size %>
        <%= link_to "Dislike", dislike_movie_path(@movie), method: :put %>
      </p>
   </div>
   <div class="col-md-4">
      <% if lists_user(current_user.id).include?(@movie.id) %>
        <br>
        <p> Deja se afla intr-o lista </p>
      <% else %>
          <%= form_tag user_lists_path, :action => "create", :method => "post"  do %>
          <%= hidden_field_tag :movie_id, @movie.id %>
          <%= hidden_field_tag :status, true  %>
          <%= hidden_field_tag :user_id, current_user.id  %>
          <%= submit_tag "Musai de vazut" %>
          <% end %>
        
          <%= form_tag user_lists_path, :action => "create", :method => "post" do %>
          <%= hidden_field_tag :movie_id, @movie.id  %>
          <%= hidden_field_tag :status , false  %>
          <%= hidden_field_tag :user_id, current_user.id  %>
          <%= submit_tag "Vazut"  %>
          <% end %>
      <% end %>
  </div>
</div>
<div class="row">
  <strong>Plot:</strong>
    <%=@movie.plot %>
</div>

<div class="row">
  <div id="comments"></div>

<%= button_to "Show comments (#{@movie.comments.count})", {controller: "comments", action: "show",id: @movie }, method: "get", remote: true, class: "showbutton" %>

<div id="add_comment"></div>


<%= button_to "Add comment", {controller: "comments", action: "new",id: @movie }, method: "get", remote: true  %>

</div>


