<div class="col-md-4">
	<div class="row">

		<div class="col-md-3">
	    <%= link_to image_tag(users.image), user_path(users), :class=> "img-responsive" %>
	  </div>
	   <div class="col-md-6" >
	    <%= users.first_name %>
	    <%= users.last_name %><br>
			<a href="<%= following_user_path(users) %>">
				<strong id="follow" >
					<%= users.following.count %>
				</strong>
					following
			</a>	<br>
			<a href="<%= followers_user_path(users) %>">
				<strong id="follow" >
					<%= users.followers.count %>
				</strong>
					followers
			</a>
		</div>
	</div><hr>
</div>
			
	