
<div class="container-fluid panel-index">
	<div class="panel panel-success index">
    <div class="panel-heading"> <b>Tata lumea</b>
    </div>
    <div class="panel-body users">
			<%= will_paginate @users%>
			<% @users.each do |user| %>
				<%= link_to image_tag(user.image), user_path(user), :class=> "img-responsive" %>
					<%= user.first_name %>
					<%= user.last_name %>
					<div class="stats">
						<a href="<%= following_user_path(user) %>">
							<strong id="following" class="stat">
					  		<%= user.following.count %>
							</strong>
							following
				  		</a>
				  		<a href="<%= followers_user_path(user) %>">
							<strong id="followers" class="stat">
					  		<%= user.followers.count %>
							</strong>
							followers
				  	</a>
					</div>
			<% end %>
		<%= will_paginate @users%>
		</div>
	</div>
</div>
