<h1>My Profile</h1>


<table>
	<tr>
		<td>
			<% if current_user.image %>
				<%= image_tag current_user.image_url  %>				
			<% end %>
		</td>
	</tr>
	<tr>
		<td>
			<b><%= current_user.first_name %></b>
			<b><%= current_user.last_name %></b>
		</td>
		<td>
			<br>
			<%= link_to "Musai de vazut", '#' %><br>
    	<%= link_to "Vazute", '#' %>
		</td>
	</tr>
</table>
<br>
<%=link_to "Edit profile", edit_user_registration_path %>

<%=link_to "Home", movies_path %>

			
	
	