<div class="container-fluid" >
<div class='row'>
	<div class="col-md-2" >
		<b><%= @user.first_name %></b>
		<b><%= @user.last_name %></b><br>
		<% if @user.image %>
			<%= image_tag @user.image %>				
		<% end %>
		<%= render 'stats' %><br>
		<%=link_to "Edit profile", edit_user_registration_path %><br><br>
		<%= render 'follow_form' if user_signed_in? %>
	</div>
	<div class="col-md-5" >
		<div class="lists">
		  <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#musai">Musai de vazut</a></li>
		    <li><a data-toggle="tab" href="#vazute">Vazute</a></li>
		  </ul>
		  <div class="tab-content">
		    <div id="musai" class="tab-pane fade in active">
		      <p><%= render partial: "user_lists/status_list", collection: @de_vazut %></p>
		            
		    </div>
		    <div id="vazute" class="tab-pane fade">
		      <%= render partial: "user_lists/status_list", collection: @vazute %>
		    </div>    
		  </div>
		</div>
	</div>
	<div class="col-md-5" >
		<h3>Feeds</h3>
		<%= will_paginate @feed_items%>
			<% if current_user == @user %>
			 <%= render partial: "feed", collection: @feed_items %>
			<% end %>
		<%= will_paginate @feed_items%>
	</div>
</div>
</div>
		
	
		
      




