<h2>My Profile</h2>

<table>
	<tr>
		<td>
			<b><%= @user.first_name %></b>
			<b><%= @user.last_name %></b>
		</td>
		<td>
			<%= render 'follow_form' if user_signed_in? %>
		</td>
	</tr>
	<tr>
		<td>
			<% if @user.image %>
				<%= image_tag @user.image %>				
			<% end %>
		</td>
		<td>
			<p>Listele magice:</p>
		<td>
		<td>
			<br>
    	<ul class="nav nav-tabs">
  			<li class="active"><a href="/user_lists">Musai de vazut</a></li>
  			<li><a href="/user_lists">Vazute</a></li>
			</ul>
		</td>
	</tr>
	<tr>
		<td>
      <%= render 'stats' %>
		</td>
	</tr>
</table>
<br>
<%=link_to "Edit profile", edit_user_registration_path %>


<br>
<h1>Vazute </h1>

<%= render partial: "user_lists/status_list", collection: @vazute %>
<br>

<h1>De vazut</h1>
<%= render partial: "user_lists/status_list", collection: @de_vazut %>

<h3>Feeds</h3>
<% if current_user == @user %>
 <%= render partial: "feed", collection: @feed_items %>
<% end %>

