<!DOCTYPE html>
<html>
<head>
  <title>Movies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>
 <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
    <%= link_to current_user.first_name, edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
    <%= link_to "Musai de vazut", '#' %>
    <%= link_to "Vazute", '#' %>
  <% else %>
    <%= link_to "Log in", new_user_session_path %>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
  <% end %>
<%= yield %>

</body>
</html>
